{%- liquid
  assign has_promotions = false
  assign mega_menu_columns = 4
  if mega_menu_block.settings.collection_list.count > 0
    assign has_promotions = true
    assign mega_menu_columns = 3
  endif

  assign layout = mega_menu_block.settings.layout
  assign heading = mega_menu_block.settings.heading

  if layout == 'tagcloud'
    assign sizes = '34x34'
  else
    assign sizes = '148x148'
  endif
-%}
<div class="sub-menu mega-menu-container" tabindex="-1" style="--mega-menu-columns: {{ mega_menu_columns }}">
  <div class="mega-menu-container--inner {%- if has_promotions %} mega-menu-container--inner-has-promotions{% endif %}">
    {% render 'header-mega-menu-columns', link: link %}
    {% if has_promotions %}
      {% assign block_settings = mega_menu_block.settings %}
      <div class="mega-menu-promotions">
        {% if heading != blank %}<strong class="mega-menu-heading">{{ heading }}</strong>{% endif %}
        <div class="mega-menu-collections mega-menu-collections--layout-{{ layout }}">
          {%- for the_collection in block_settings.collection_list -%}
            <a href="{{ the_collection.url }}" class="mega-menu-collections--collection-{{ layout }}">
              {% if the_collection.featured_image %}
                {%- render 'responsive-image', image: the_collection.featured_image | image_url, sizes: sizes, priority: 'low' -%}
              {% endif %}
              <span>{{ the_collection.title }}</span>
            </a>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>