{%- liquid
  assign quick_nav = blocks | where: "type", "quick_nav"
  assign label = quick_nav[0].settings.label
  assign menu = quick_nav[0].settings.menu
-%}

{%- if quick_nav.size > 0 -%}
<div class="thb-header-quick-navigation" {{ quick_nav.shopify_attributes }}>
  <details id="Details-Quick-Navigation">
    <summary class="thb-header-quick-navigation--summary">
      <span>{%- render 'svg-icons' with 'thb-quick-nav' -%}</span>
      {%- if label -%}{{ label }}{%- endif -%}
    </summary>
    <div id="Accordion-Quick-Navigation" class="thb-header-quick-navigation--content">
      {%- if menu -%}
      <ul>
        {%- for link in menu.links -%}
          {%- liquid
            assign parent_index = forloop.index
            if link.links.size > 0
              assign has_sub_menu = true
            endif
          -%}
          <li {%- if has_sub_menu or has_mega_menu %} class="menu-item-has-children"{% endif %}>
            <a role="menuitem" href="{{ link.url }}"{%- if link.active %} aria-current="page"{% endif -%}>
              {{- link.title -}}
              {%- if has_sub_menu -%}{%- render 'svg-icons' with 'thb-dropdown-right' -%}{%- endif -%}
            </a>
            {%- if has_sub_menu == true -%}
            <ul class="sub-menu" tabindex="-1">
              {%- for l in link.links -%}
                {%- liquid
                  assign has_sub_menu = false

                  if l.links.size > 0
                    assign has_sub_menu = true
                  endif
                -%}
                <li class="{%- if l.active %}active{% endif %}{% if has_sub_menu %} menu-item-has-children{%- endif -%}" role="none">
                  <a href="{{ l.url }}" role="menuitem">
                    {{- l.title -}}
                    {%- if has_sub_menu -%}{%- render 'svg-icons' with 'thb-dropdown-right' -%}{%- endif -%}
                  </a>
                  {%- if has_sub_menu -%}
                    <ul class="sub-menu" role="menu">
                      {%- for sub_link in l.links -%}
                        <li class="{%- if sub_link.active %} active{% endif %}" role="none">
                          <a href="{{ sub_link.url }}" role="menuitem">{{- sub_link.title -}}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
		  {%- endif -%}
    </div>
  </details>
</div>
<link rel="stylesheet" href="{{ 'quick-navigation.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}