{%- liquid
	if customer
  	assign profile_link = routes.account_url
		assign profile_text = 'sections.header.my_account' | t
	else
  	assign profile_link = routes.account_login_url
		assign profile_text = 'sections.header.login' | t
	endif

	assign cart_icon = header_settings.cart_icon | default: 'cart'
-%}
{%- capture total_cart_amount -%}
({%- if settings.currency_code_enabled %}{{ cart.total_price | money_with_currency }}{% else %}{{ cart.total_price | money }}{%- endif -%})
{%- endcapture -%}

<div class="thb-secondary-area thb-header-right thb-secondary-area--amount-{{ header_settings.show_cart_total_amount }} thb-secondary-area--label-{{ header_settings.show_icon_labels }}">
	<a class="thb-secondary-area--item thb-secondary-search" href="{{ routes.search_url }}" title="{{ 'sections.header.search' | t }}">{%- render 'svg-icons' with 'search' -%}</a>
	{%- if shop.customer_accounts_enabled -%}
  <a class="thb-secondary-area--item thb-secondary-myaccount" href="{{ profile_link | escape }}" title="{{ 'sections.header.my_account' | t }}">{%- render 'svg-icons' with 'myaccount' -%}{% if header_settings.show_icon_labels -%} <span class="thb-secondary-area--item-text">{{ profile_text }}</span>{% endif -%}</a>
  {%- endif -%}
	{%- if template != 'cart' -%}{%- render 'cart-drawer' -%}{%- endif -%}
	<a class="thb-secondary-area--item thb-secondary-cart" href="{{ routes.cart_url }}" id="cart-drawer-toggle"><span class="thb-secondary-area--item-icon">{% render 'svg-icons' with cart_icon %} <span class="thb-secondary-area--item-count">{%- if cart.item_count > 99 -%}{%- render 'svg-icons' with 'thb-asterisk' -%}{%- else -%}{{ cart.item_count }}{%- endif -%}</span></span><span class="thb-secondary-area--item-text">{% if header_settings.show_icon_labels -%}<span class="thb-secondary-area--item-label">{{ 'sections.header.cart' | t }}</span>{% endif -%}<span class="thb-secondary-area--item-amount">{{ total_cart_amount }}</span></span></a>
</div>
