<div class="product--title-container" {{ block.shopify_attributes }}>
  <h1 class="product--title uppercase--{{ block.settings.uppercase }}">{{ product.title }}</h1>
  <div class="product--price-container">
    <div id="price-{{ section.id }}{% if is_mobile %}--mobile{% endif %}" aria-live="polite">
      {%- render 'product-price', product: product, use_variant: true, show_badges: true, show_custom_badges: block.settings.show_custom_badges -%}
    </div>
    {%- if section.settings.show_taxes_included != blank -%}
      {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
        <div class="product__tax caption">
          {%- if cart.taxes_included -%}
            {{ 'products.product.include_taxes' | t }}
          {%- endif -%}
          {%- if shop.shipping_policy.body != blank -%}
            {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endif -%}
  </div>
  {%- if block.settings.show_products_rating and product.metafields.reviews.rating.value != blank -%}
    <div class="star-rating-container">
      <div class="star-rating" style="--star-rating: {{ product.metafields.reviews.rating.value.rating }};"></div>
      <span>{%- if block.settings.show_products_rating_average -%}{{ product.metafields.reviews.rating.value.rating | round: 2 }}{%- endif -%}{%- if block.settings.show_products_rating_count %} ({{ 'products.product.reviews' | t: count: product.metafields.reviews.rating_count }}){%- endif -%}</span>
    </div>
  {%- endif -%}
  {%- if block.settings.show_installments and product != blank -%}
    {%- liquid 
      if is_mobile
        assign mobile_id = '--mobile' 
      endif

      assign product_form_installment_id = 'product-form-installment-' | append: section.id | append: mobile_id
    -%}
    {%- form 'product', product, id: product_form_installment_id, class: 'installment' -%}
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
      {{ form | payment_terms }}
    {%- endform -%}
  {%- endif -%}
</div>