{%- if section_heading != blank -%}
	<div class="section-header">
		<div class="section-header--content">
			<div class="section-header--content--heading">
				{%- if section_heading -%}
					<h3 class="section-header--title">{% render 'heading-marker', heading: section_heading, color: marker_color %}</h3>
				{%- endif -%}
				{%- if blocks and section_heading_button -%}
				<div class="section-header--button has--tabs">
					{%- for block in blocks -%}
						{%- if block.settings.collection != blank -%}
							<a class="text-button linked-to-tab{% if forloop.first == true %} active{% endif %}" href="{{ block.settings.collection.url }}">{{ 'sections.featured_collection.shop_collection' | t: collection: block.settings.collection.title }}</a>
						{%- else -%}
							<a class="text-button linked-to-tab{% if forloop.first == true %} active{% endif %}" href="#">{{ 'sections.featured_collection.shop_collection' | t: collection: 'Collection' }}</a>
						{%- endif -%}
					{%- endfor -%}
				</div>
				{%- elsif section_heading_button -%}
				<div class="section-header--button">
					<a class="text-button" href="{{ section_heading_button.url }}">{{ 'sections.featured_collection.shop_collection' | t: collection: section_heading_button.title }}</a>
				</div>
				{%- elsif section_heading_button_featured_product_url -%}
				<div class="section-header--button">
					<a class="text-button" href="{{ section_heading_button_featured_product_url }}">{{ 'products.product.view_details' | t }}</a>
				</div>
				{%- elsif section_heading_button_blog -%}
				<div class="section-header--button">
					<a class="text-button" href="{{ section_heading_button_blog.url }}">{{ 'sections.featured_blog.view_all' | t }}</a>
				</div>
				{%- endif -%}
			</div>
			{%- if section_description != blank -%}
				<div class="section-header--description rte">
					{{ section_description }}
				</div>
			{%- endif -%}
			{%- if blocks -%}
			<collection-tabs class="collection-tabs__list" data-target="product-grid-{{ section_id }}">
				{%- for block in blocks -%}
					{%- if block.settings.collection != blank -%}
						<button type="button" data-collection="collection-{{ block.id }}" class="collection-tabs__list-link tag-button{% if forloop.first == true %} active{% endif %}" {{ block.shopify_attributes }}>{{ block.settings.collection.title }}</button>
					{%- else -%}
						<button type="button" data-collection="collection-{{ block.id }}" class="collection-tabs__list-link tag-button{% if forloop.first == true %} active{% endif %}" {{ block.shopify_attributes }}>Collection {{ forloop.index }}</button>
					{%- endif -%}
				{%- endfor -%}
			</collection-tabs>
			{%- endif -%}
		</div>
	</div>
{%- endif -%}
