{%- capture total_cart_amount -%}
	({%- if settings.currency_code_enabled %}{{ cart.total_price | money_with_currency }}{% else %}{{ cart.total_price | money }}{%- endif -%})
{%- endcapture -%}
<a class="thb-secondary-area--item thb-secondary-cart" href="{{ routes.cart_url }}" id="cart-drawer-toggle"><span class="thb-secondary-area--item-icon">{% render 'svg-icons' with cart_icon %} <span class="thb-secondary-area--item-count">{%- if cart.item_count > 99 -%}{%- render 'svg-icons' with 'thb-asterisk' -%}{%- else -%}{{ cart.item_count }}{%- endif -%}</span></span><span class="thb-secondary-area--item-text">{% if header_settings.show_icon_labels -%}{{ 'sections.header.cart' | t }}{% endif -%}<span class="thb-secondary-area--item-amount">{{ total_cart_amount }}</span></span></a>