{%- liquid
  assign style = section.settings.style
  assign sticky_header = section.settings.sticky_header
  assign full_width = section.settings.full_width
  assign logo_height_range = section.settings.logo_height_range
  assign logo_height_range_mobile = section.settings.logo_height_range_mobile
  assign header_shadow = section.settings.header_shadow
-%}
<theme-header
  id="header"
  class="header {{ style }} {{ header_shadow }}{% if full_width %} header--full-width{%- endif %}{% if sticky_header %} header-sticky--active{%- endif -%}"
>
  {%- style -%}
    :root {
    	--logo-height: {{ logo_height_range | append: 'px' }};
    	--logo-height-mobile: {{ logo_height_range_mobile | append: 'px' }};
    }
    {% unless sticky_header %}
    .header-section {
    	position: static !important;
    }
    {%- endunless -%}
  {%- endstyle -%}
  <div class="header--inner">
    {%- case style -%}
      {%- when 'style1' -%}
        {% render 'header-style1', blocks: section.blocks, header_settings: section.settings %}
      {%- when 'style2' -%}
        {% render 'header-style2', blocks: section.blocks, header_settings: section.settings %}
      {%- when 'style3' -%}
        {% render 'header-style3', blocks: section.blocks, header_settings: section.settings %}
      {%- when 'style4' -%}
        {% render 'header-style4', blocks: section.blocks, header_settings: section.settings %}
      {%- when 'style5' -%}
        {% render 'header-style5', blocks: section.blocks, header_settings: section.settings %}
    {%- endcase -%}
  </div>
  
</theme-header>
{{- 'header.js' | asset_url | script_tag -}}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }},
      {{ settings.social_linkedin_link | json }},
      {{ settings.social_wechat_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>
{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}
{% schema %}
{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "sticky_header",
      "label": "Enable sticky header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section full width",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image",
      "info": "400 x 68 px .png recommended."
    },
    {
      "type": "range",
      "id": "logo_height_range",
      "min": 20,
      "max": 120,
      "step": 1,
      "unit": "px",
      "label": "Logo height",
      "default": 30
    },
    {
      "type": "range",
      "id": "logo_height_range_mobile",
      "min": 20,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Mobile logo height",
      "default": 30
    },
    {
      "type": "select",
      "id": "style",
      "label": "Desktop logo position",
      "default": "style1",
      "options": [
        { "value": "style1", "label": "Logo left, menu below" }
      ],
      "info": "Position is always center for mobile."
    },
    {
      "type": "select",
      "id": "header_shadow",
      "label": "Sticky header shadow",
      "default": "header--shadow-small",
      "options": [
        { "value": "header--shadow-none", "label": "None" },
        { "value": "header--shadow-small", "label": "Small" },
        { "value": "header--shadow-medium", "label": "Medium" },
        { "value": "header--shadow-large", "label": "Large" }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "Show search",
      "default": true
    },
    {
      "type": "select",
      "id": "filter_search_by",
      "label": "Refined search",
      "info": "Allow customers to refine their search. [Learn more](https://documentation.fuelthemes.net/kb/how-do-i-set-up-refined-search-in-pinnacle-theme/)",
      "options": [
        {
          "value": "disabled",
          "label": "Disabled"
        },
        {
          "value": "product_type",
          "label": "By product type"
        },
        {
          "value": "tag",
          "label": "By tag"
        }
      ],
      "default": "product_type"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu",
      "info": "Learn how to set up [mega menus](https://documentation.fuelthemes.net/kb/how-do-i-set-up-mega-menus-for-pinnacle-theme/)."
    },
    {
      "type": "header",
      "content": "Icons"
    },
    {
      "type": "checkbox",
      "id": "show_icon_labels",
      "label": "Show labels",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart_total_amount",
      "label": "Show cart total amount",
      "default": true
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart icon",
      "options": [
        {
          "value": "cart",
          "label": "Cart"
        },
        {
          "value": "bag",
          "label": "Bag"
        }
      ],
      "default": "cart"
    },
    {
      "type": "header",
      "content": "Mobile menu"
    },
    {
      "type": "checkbox",
      "id": "show_social_links",
      "label": "Show social links",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_language_switcher",
      "label": "Enable language switcher",
      "default": false,
      "info": "To add a language, go to your [language settings](/admin/settings/languages)."
    },
    {
      "type": "checkbox",
      "id": "show_currency_switcher",
      "label": "Enable currency switcher",
      "default": true,
      "info": "To add a country/region, go to your [payment settings](/admin/settings/payments)."
    }
  ],
  "blocks": [
    {
      "type": "quick_nav",
      "name": "Quick navigation",
      "limit": 1,
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "default": "main-menu",
          "label": "Menu"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Navigation label",
          "info": "Leave empty to show just the icon"
        }
      ]
    },
    {
      "type": "secondary_nav",
      "name": "Secondary navigation",
      "limit": 1,
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "default": "main-menu",
          "label": "Menu",
          "info": "Shows a maximum of four menu items separately to the main menu. This menu does not support dropdowns."
        }
      ]
    },
    {
      "type": "megamenu",
      "name": "Mega menu with promotions",
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Link position in main menu",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "Item 1"
            },
            {
              "value": "2",
              "label": "Item 2"
            },
            {
              "value": "3",
              "label": "Item 3"
            },
            {
              "value": "4",
              "label": "Item 4"
            },
            {
              "value": "5",
              "label": "Item 5"
            },
            {
              "value": "6",
              "label": "Item 6"
            },
            {
              "value": "7",
              "label": "Item 7"
            },
            {
              "value": "8",
              "label": "Item 8"
            },
            {
              "value": "9",
              "label": "Item 9"
            },
            {
              "value": "10",
              "label": "Item 10"
            }
          ]
        },
        {
          "type": "header",
          "content": "Promotions"
        },
        {
          "type": "range",
          "id": "promotions_min_height",
          "min": 80,
          "max": 340,
          "step": 10,
          "unit": "px",
          "label": "Minimum height",
          "default": 100
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            { "value": "top left", "label": "Top left" },
            { "value": "top center", "label": "Top center" },
            { "value": "top right", "label": "Top right" },
            { "value": "middle left", "label": "Middle left" },
            { "value": "middle center", "label": "Middle center" },
            { "value": "middle right", "label": "Middle right" },
            { "value": "bottom left", "label": "Bottom left" },
            { "value": "bottom center", "label": "Bottom center" },
            { "value": "bottom right", "label": "Bottom right" }
          ],
          "default": "middle center"
        },
        {
          "type": "range",
          "id": "promotions_text_size",
          "min": 14,
          "max": 32,
          "step": 2,
          "unit": "px",
          "label": "Text size",
          "default": 18
        },
        {
          "type": "range",
          "id": "promotions_text_width",
          "min": 40,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Text width",
          "default": 60
        },
        {
          "type": "header",
          "content": "Promotion 1"
        },
        {
          "type": "image_picker",
          "id": "promo_1_image",
          "label": "Image",
          "info": "360 x 420 px .jpg recommended."
        },
        {
          "type": "text",
          "id": "promo_1_heading",
          "default": "Promotion heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "promo_1_content",
          "label": "Promotion content"
        },
        {
          "type": "url",
          "id": "promo_1_link",
          "label": "Promotion link"
        },
        {
          "type": "color",
          "id": "promo_1_text",
          "label": "Text",
          "default": "#252525"
        },
        {
          "type": "color",
          "id": "promo_1_bg",
          "label": "Background",
          "default": "#FFFFFF"
        },
        {
          "type": "range",
          "id": "promo_1_bg_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Background opacity",
          "default": 70
        },
        {
          "type": "header",
          "content": "Promotion 2"
        },
        {
          "type": "image_picker",
          "id": "promo_2_image",
          "label": "Image",
          "info": "360 x 420 px .jpg recommended."
        },
        {
          "type": "text",
          "id": "promo_2_heading",
          "default": "Promotion heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "promo_2_content",
          "label": "Promotion content"
        },
        {
          "type": "url",
          "id": "promo_2_link",
          "label": "Promotion link"
        },
        {
          "type": "color",
          "id": "promo_2_text",
          "label": "Text",
          "default": "#252525"
        },
        {
          "type": "color",
          "id": "promo_2_bg",
          "label": "Background",
          "default": "#FFFFFF"
        },
        {
          "type": "range",
          "id": "promo_2_bg_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Background opacity",
          "default": 70
        },
        {
          "type": "header",
          "content": "Promotion 3"
        },
        {
          "type": "image_picker",
          "id": "promo_3_image",
          "label": "Image",
          "info": "360 x 420 px .jpg recommended."
        },
        {
          "type": "text",
          "id": "promo_3_heading",
          "default": "Promotion heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "promo_3_content",
          "label": "Promotion content"
        },
        {
          "type": "url",
          "id": "promo_3_link",
          "label": "Promotion link"
        },
        {
          "type": "color",
          "id": "promo_3_text",
          "label": "Text",
          "default": "#252525"
        },
        {
          "type": "color",
          "id": "promo_3_bg",
          "label": "Background",
          "default": "#FFFFFF"
        },
        {
          "type": "range",
          "id": "promo_3_bg_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Background opacity",
          "default": 70
        },
        {
          "type": "header",
          "content": "Promotion 4"
        },
        {
          "type": "image_picker",
          "id": "promo_4_image",
          "label": "Image",
          "info": "360 x 420 px .jpg recommended."
        },
        {
          "type": "text",
          "id": "promo_4_heading",
          "default": "Promotion heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "promo_4_content",
          "label": "Promotion content"
        },
        {
          "type": "url",
          "id": "promo_4_link",
          "label": "Promotion link"
        },
        {
          "type": "color",
          "id": "promo_4_text",
          "label": "Text",
          "default": "#252525"
        },
        {
          "type": "color",
          "id": "promo_4_bg",
          "label": "Background",
          "default": "#FFFFFF"
        },
        {
          "type": "range",
          "id": "promo_4_bg_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Background opacity",
          "default": 70
        }
      ]
    },
    {
      "type": "megamenu_cta",
      "name": "Mega menu with CTA",
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Link position in main menu",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "Item 1"
            },
            {
              "value": "2",
              "label": "Item 2"
            },
            {
              "value": "3",
              "label": "Item 3"
            },
            {
              "value": "4",
              "label": "Item 4"
            },
            {
              "value": "5",
              "label": "Item 5"
            },
            {
              "value": "6",
              "label": "Item 6"
            },
            {
              "value": "7",
              "label": "Item 7"
            },
            {
              "value": "8",
              "label": "Item 8"
            },
            {
              "value": "9",
              "label": "Item 9"
            },
            {
              "value": "10",
              "label": "Item 10"
            }
          ]
        },
        {
          "type": "header",
          "content": "CTA Button 1"
        },
        {
          "type": "text",
          "id": "cta_1_heading",
          "default": "Heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "cta_1_content",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "cta_1_link",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "cta_1_color",
          "label": "Color",
          "default": "#C33C3C"
        },
        {
          "type": "header",
          "content": "CTA Button 2"
        },
        {
          "type": "text",
          "id": "cta_2_heading",
          "default": "Heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "cta_2_content",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "cta_2_link",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "cta_2_color",
          "label": "Color",
          "default": "#C33C3C"
        },
        {
          "type": "header",
          "content": "CTA Button 3"
        },
        {
          "type": "text",
          "id": "cta_3_heading",
          "default": "Heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "cta_3_content",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "cta_3_link",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "cta_3_color",
          "label": "Color",
          "default": "#C33C3C"
        },
        {
          "type": "header",
          "content": "CTA Button 4"
        },
        {
          "type": "text",
          "id": "cta_4_heading",
          "default": "Heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "cta_4_content",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "cta_4_link",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "cta_4_color",
          "label": "Color",
          "default": "#C33C3C"
        }
      ]
    },
    {
      "type": "megamenu_collections",
      "name": "Mega menu collections",
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Link position in main menu",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "Item 1"
            },
            {
              "value": "2",
              "label": "Item 2"
            },
            {
              "value": "3",
              "label": "Item 3"
            },
            {
              "value": "4",
              "label": "Item 4"
            },
            {
              "value": "5",
              "label": "Item 5"
            },
            {
              "value": "6",
              "label": "Item 6"
            },
            {
              "value": "7",
              "label": "Item 7"
            },
            {
              "value": "8",
              "label": "Item 8"
            },
            {
              "value": "9",
              "label": "Item 9"
            },
            {
              "value": "10",
              "label": "Item 10"
            }
          ]
        },
        {
          "type": "header",
          "content": "Promoted collections"
        },
        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "Collections",
          "limit": 8
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Promoted collections"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "default": "tagcloud",
          "options": [
            {
              "value": "tagcloud",
              "label": "Tag cloud"
            },
            {
              "value": "columns",
              "label": "2 Columns"
            }
          ]
        }
      ]
    },
    {
      "type": "megamenu_products",
      "name": "Mega menu products",
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Link position in main menu",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "Item 1"
            },
            {
              "value": "2",
              "label": "Item 2"
            },
            {
              "value": "3",
              "label": "Item 3"
            },
            {
              "value": "4",
              "label": "Item 4"
            },
            {
              "value": "5",
              "label": "Item 5"
            },
            {
              "value": "6",
              "label": "Item 6"
            },
            {
              "value": "7",
              "label": "Item 7"
            },
            {
              "value": "8",
              "label": "Item 8"
            },
            {
              "value": "9",
              "label": "Item 9"
            },
            {
              "value": "10",
              "label": "Item 10"
            }
          ]
        },
        {
          "type": "header",
          "content": "Promoted products"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "Products",
          "limit": 8
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Promoted products"
        }
      ]
    },
    {
      "type": "megamenu_sidebar",
      "name": "Mega menu sidebar",
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Link position in main menu",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "Item 1"
            },
            {
              "value": "2",
              "label": "Item 2"
            },
            {
              "value": "3",
              "label": "Item 3"
            },
            {
              "value": "4",
              "label": "Item 4"
            },
            {
              "value": "5",
              "label": "Item 5"
            },
            {
              "value": "6",
              "label": "Item 6"
            },
            {
              "value": "7",
              "label": "Item 7"
            },
            {
              "value": "8",
              "label": "Item 8"
            },
            {
              "value": "9",
              "label": "Item 9"
            },
            {
              "value": "10",
              "label": "Item 10"
            }
          ]
        },
        {
          "type": "header",
          "content": "Sidebar links"
        },
        {
          "type": "checkbox",
          "id": "sidebar_image",
          "label": "Show collection images",
          "default": true
        },
        {
          "type": "header",
          "content": "Content links"
        },
        {
          "type": "checkbox",
          "id": "content_collection_image",
          "label": "Show collection images",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "content_product_image",
          "label": "Show product images",
          "default": true
        }
      ]
    },
    {
      "type": "menu_badge",
      "name": "Menu badge",
      "settings": [
        {
          "type": "select",
          "id": "badge_position",
          "label": "Badge position in main menu",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "Item 1"
            },
            {
              "value": "2",
              "label": "Item 2"
            },
            {
              "value": "3",
              "label": "Item 3"
            },
            {
              "value": "4",
              "label": "Item 4"
            },
            {
              "value": "5",
              "label": "Item 5"
            },
            {
              "value": "6",
              "label": "Item 6"
            },
            {
              "value": "7",
              "label": "Item 7"
            },
            {
              "value": "8",
              "label": "Item 8"
            },
            {
              "value": "9",
              "label": "Item 9"
            },
            {
              "value": "10",
              "label": "Item 10"
            }
          ]
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "color_bg",
          "label": "Background",
          "default": "#D3ECE2"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Text",
          "default": "#272422"
        }
      ]
    }
  ]
}
{% endschema %}