{{- 'image-with-text-overlay.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign image = section.settings.image
	assign mobile_image = section.settings.mobile_image

	assign desktop_height = section.settings.desktop_height
	assign mobile_height = section.settings.mobile_height
	assign full_width = section.settings.full_width

	assign content_width = section.settings.content_width
	assign content_position = section.settings.content_position
	assign text_alignment = section.settings.text_alignment

	assign color_bg = section.settings.color_bg
	assign color_text = section.settings.color_text
	assign overlay_color = section.settings.overlay_color
	assign overlay_opacity = section.settings.overlay_opacity
	assign color_button_hover = color_text | color_darken: 7

	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing

	case mobile_height
		when 'mobile-height-350'
			assign mobile_image_height = 350
		when 'mobile-height-400'
			assign mobile_image_height = 400
		when 'mobile-height-450'
			assign mobile_image_height = 450
		when 'mobile-height-500'
			assign mobile_image_height = 500
		else
			assign mobile_image_height = 500
	endcase

	assign solid_button_label = color_bg
	assign has_padding = true
	if color_bg == 'transparent' or color_bg == 'rgba(0,0,0,0)'
		assign brightness = color_text | color_brightness
		if brightness < 128
			assign solid_button_label = color_text | color_lighten: 80
		else
			assign solid_button_label = color_text | color_darken: 80
		endif
		assign has_padding = false
	endif

	assign priority = false
	assign heading_tag = 'div'

	if section.index == 1
		assign priority = 'high'
		assign heading_tag = 'h1'
	endif
	
-%}
<div class="row {% if full_width %}full-width-row-full{% endif %}">
	<div class="small-12 columns">
		<div class="image-with-text-overlay text-{{ text_alignment }} {{ mobile_height }} {{ desktop_height }} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}" style="--color-overlay-rgb: {{ overlay_color.rgb | replace: ' ' , ',' }}; --overlay-opacity: {{ overlay_opacity | divided_by: 100.0 }}; --color-bg: {{ color_bg }}; --color-body: {{ color_text }}; --solid-button-label: {{ solid_button_label }}; --solid-button-background: {{ color_text }}; --solid-button-background-hover: {{ color_button_hover }};">
			<div class="image-with-text-overlay--bg">
				{%- if image -%}
					{%- liquid
						assign small_width = image.src.height | times: '375' | divided_by: image.src.width
						assign master_width = image.src.width | append: 'x' | append: image.src.height
						assign width = '375x' | append: small_width | append: ',' | append: master_width

						assign class = ''

						if section.settings.mobile_image
							assign class = 'image-with-text-overlay--desktop'
						endif
					-%}
					{%- render 'responsive-image', image: image, sizes: width, class: class, priority: priority -%}
				{%- else -%}
					{{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder_svg_tag' }}
				{%- endif -%}
				{%- if section.settings.mobile_image -%}
					{%- liquid
						assign image = section.settings.mobile_image
						assign master_width = image.src.width | append: 'x' | append: image.src.height
						assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width

						assign class = 'image-with-text-overlay--mobile'
						render 'responsive-image', image: image, sizes: width, class: class, priority: priority
					-%}
				{%- endif -%}
			</div>
			<div class="image-with-text-overlay--content content-{{ content_position }}">
				<div class="image-with-text-overlay--content-inner image-with-text-overlay--content-inner-has-padding--{{ has_padding }} content-width-{{ content_width }}">
					{% for block in section.blocks %}
						{%- case block.type -%}
							{%- when 'badge' -%}
								<div {{ block.shopify_attributes }}>
									<span class="inline-badge" style="--badge-bg: {{ block.settings.color_bg }}; --badge-text: {{ block.settings.color_text }}">{{ block.settings.text }}</span>
								</div>
							{%- when 'subheading' -%}
								<p class="subheading" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
							{%- when 'heading' -%}
								<{{ heading_tag }} class="image-with-text-overlay--heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.text | newline_to_br }}</{{ heading_tag }}>
							{%- when 'text' -%}
								<div class="rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
							{%- when 'button' -%}
								{% if block.settings.button_text != blank %}
									<a class="button {% if block.settings.button_outline %} outline{%- endif %}" href="{{ block.settings.button_link }}" role="button" title="{{ block.settings.button_text | escape }}" {{ block.shopify_attributes }}>{{ block.settings.button_text }}</a>
								{% endif %}
							{% when 'space' %}
		            <div style="height: {{ block.settings.height | append: 'px' }}" {{ block.shopify_attributes }}></div>
						{%- endcase -%}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% schema %}
  {
    "name": "Image with text overlay",
		"class": "section-image-with-text-overlay",
    "settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image",
				"info": "2800 x 650 .jpg recommended."
			},
			{
				"type": "image_picker",
				"id": "mobile_image",
				"label": "Mobile image (optional)",
				"info": "375 x 650 .jpg recommended."
			},
			{
	      "type": "header",
	      "content": "Layout"
	    },
			{
				"type": "select",
				"id": "desktop_height",
				"label": "Desktop height",
				"options": [
					{
						"value": "desktop-height-450",
						"label": "450px"
					},
					{
						"value": "desktop-height-550",
						"label": "550px"
					},
					{
						"value": "desktop-height-650",
						"label": "650px"
					},
					{
						"value": "desktop-height-750",
						"label": "750px"
					},
					{
						"value": "desktop-height-full",
						"label": "Full screen"
					}
				],
				"default": "desktop-height-550"
			},
			{
				"type": "select",
				"id": "mobile_height",
				"label": "Mobile height",
				"options": [
					{
						"value": "mobile-height-auto",
						"label": "Adapt to content"
					},
					{
						"value": "mobile-height-350",
						"label": "350px"
					},
					{
						"value": "mobile-height-400",
						"label": "400px"
					},
					{
						"value": "mobile-height-450",
						"label": "450px"
					},
					{
						"value": "mobile-height-500",
						"label": "500px"
					},
					{
						"value": "mobile-height-full",
						"label": "Full screen"
					}
				],
				"default": "mobile-height-450"
			},
			{
				"type": "checkbox",
				"id": "full_width",
				"label": "Make section full width",
				"default": false
			},
			{
				"type": "select",
				"id": "content_width",
				"label": "Content width",
				"options": [
					{
						"value": "small",
						"label": "Small"
					},
					{
						"value": "medium",
						"label": "Medium"
					},
					{
						"value": "large",
						"label": "Large"
					}
				],
				"default": "small"
			},
			{
				"type": "select",
				"id": "content_position",
				"label": "Content position",
				"options": [
					{ "value": "top-left", "label": "Top left" },
					{ "value": "top-center", "label": "Top center" },
					{ "value": "top-right", "label": "Top right" },
					{ "value": "middle-left", "label": "Middle left" },
					{ "value": "middle-center", "label": "Middle center" },
					{ "value": "middle-right", "label": "Middle right" },
					{ "value": "bottom-left", "label": "Bottom left" },
					{ "value": "bottom-center", "label": "Bottom center" },
					{ "value": "bottom-right", "label": "Bottom right" }
				],
				"default": "middle-left"
			},
			{
				"type": "select",
				"id": "text_alignment",
				"options": [
					{
						"value": "left",
						"label": "Left"
					},
					{
						"value": "center",
						"label": "Center"
					},
					{
						"value": "right",
						"label": "Right"
					}
				],
				"default": "left",
				"label": "Content alignment"
			},
			{
	      "type": "header",
	      "content": "Colors"
	    },
			{
        "type": "color",
        "id": "color_bg",
        "label": "Background",
        "default": "#6A7881"
      },
			{
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#FFFFFF"
      },
			{
				"type": "color",
				"id": "overlay_color",
				"label": "Overlay",
				"default": "#000000"
			},
			{
				"type": "range",
				"id": "overlay_opacity",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "%",
				"label": "Overlay opacity",
				"default": 10
			},
			{
	      "type": "header",
	      "content": "Spacing"
	    },
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			}
    ],
    "blocks": [
			{
				"type": "badge",
				"name": "Badge",
				"limit": 1,
				"settings": [
					{
						"type": "text",
						"id": "text",
						"label": "Text",
						"default": "Badge heading"
					},
					{
						"type": "color",
						"id": "color_bg",
						"label": "Background",
						"default": "#FFE1DF"
					},
					{
						"type": "color",
						"id": "color_text",
						"label": "Text",
						"default": "#652C2C"
					}
				]
			},
			{
				"type": "subheading",
				"name": "Subheading",
				"limit": 1,
				"settings": [
					{
						"type": "text",
						"id": "text",
						"label": "Text",
						"default": "Add a tagline"
					}
				]
			},
			{
				"type": "heading",
				"name": "Heading",
				"limit": 1,
				"settings": [
					{
						"type": "text",
						"id": "text",
						"label": "Text",
						"default": "Image with text overlay"
					},
					{
						"type": "select",
						"id": "heading_size",
						"label": "Size",
						"options": [
							{
								"value": "h1-large",
								"label": "Extra large"
							},
							{
								"value": "h1",
								"label": "Large"
							},
							{
								"value": "h2",
								"label": "Medium"
							},
							{
								"value": "h3",
								"label": "Small"
							},
							{
								"value": "h4",
								"label": "Very small"
							}
						],
						"default": "h3"
					}
				]
			},
			{
        "type": "text",
        "name": "Text",
				"limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Content",
            "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          }
        ]
      },
			{
        "type": "button",
        "name": "Button",
				"limit": 2,
        "settings": [
					{
						"id": "button_text",
						"type": "text",
						"label": "Button label",
						"default": "Shop Now",
						"info": "Leave the label blank to hide the button."
					},
					{
						"id": "button_link",
						"type": "url",
						"label": "Button link"
					},
					{
						"type": "checkbox",
						"id": "button_outline",
						"label": "Use outline button style",
						"default": false
					}
        ]
      },
      {
        "type": "space",
        "name": "Empty space",
        "settings": [
          {
            "type": "range",
            "id": "height",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Height",
            "default": 50
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with text overlay",
				"blocks": [
					{
						"type": "subheading"
					},
					{
						"type": "heading"
					},
					{
						"type": "text"
					},
					{
						"type": "button"
					}
				]
      }
    ]
  }
{% endschema %}
