{{- 'facets.css' | asset_url | stylesheet_tag -}}
{{- 'product-grid.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign has_price_filter = collection.filters | where: "type", "price_range"
	
	assign sidebar_size = section.settings.sidebar_size
	assign sidebar_open_by_default = section.settings.sidebar_open_by_default
	assign enable_filtering = section.settings.enable_filtering
	assign enable_sorting = section.settings.enable_sorting
	assign show_counts = section.settings.show_counts
	assign pagination_type = section.settings.pagination_type
	assign products_per_page = section.settings.products_per_page
	assign columns_desktop = section.settings.columns_desktop

	assign seo_text = section.settings.seo_text
	assign seo_text_custom_liquid = section.settings.seo_text_custom_liquid
	assign seo_text_max_height = section.settings.seo_text_max_height
	assign seo_text_read_more = section.settings.seo_text_read_more
	assign seo_text_read_less = section.settings.seo_text_read_less

	assign promotion_enabled = false
	assign total_active = 0
	for filter in collection.filters
		assign total_active = total_active | plus: filter.active_values.size

		if filter.type == 'price_range'
			if filter.min_value.value
				assign min_value = filter.min_value
				assign total_active = total_active | plus: 1
			endif
			if filter.max_value.value
				assign total_active = total_active | plus: 1
			endif
		endif
	endfor
-%}
{%- if section.blocks.size > 0 -%}
	<link id="PromotionStyle-{{ section.id }}" rel="stylesheet" href="{{ 'product-card-promotion.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- for filter in collection.filters limit: 1 -%}{%- endfor -%}{%- comment -%} This is just to get rid of the "this theme does not support filters" message in the shopify admin {%- endcomment -%}
{%- render 'facets-mobile', results: collection, enable_filtering: enable_filtering, enable_sorting: enable_sorting, show_counts: show_counts -%}
<div class="row">
	<div class="small-12 columns">
		{%- paginate collection.products by products_per_page -%}
			<div class="collection-container section-spacing-bottom">
				<div id="ProductGridContainer" data-layout="grid">
					{%- render 'facets-bar', results: collection, enable_filtering: enable_filtering, enable_sorting: enable_sorting, sidebar_open_by_default: sidebar_open_by_default -%}
					<div class="sidebar-container{% if enable_filtering %} facets--sidebar{% else %} facets--sidebar-false{% endif %} facets--sidebar-{{ sidebar_size }}{% if sidebar_open_by_default %} facets--sidebar-open{% endif %} results--{{ collection.products.size }} sticky-scroller--parent" id="Sidebar-Container">
						{%- if enable_filtering -%}
							{%- render 'facets-desktop', results: collection, enable_filtering: enable_filtering, enable_sorting: enable_sorting, show_counts: show_counts -%}
						{%- endif -%}
						<div class="sidebar-container--products sticky-scroller--compare">		
							{%- if collection.products.size == 0 -%}
								<div class="collection-empty collection" id="product-grid" data-id="{{ section.id }}">
									{% render 'svg-icons' with 'thb-no-products' %}
									<p>
										{{ 'sections.collection_template.empty' | t }}<br>
										{%- if collection.terms -%}
										{{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url }}
										{%- endif -%}
									</p>
								</div>
							{%- else -%}
								{%- for block in section.blocks -%}

									{%- assign display_promotion = false -%}
									{%- if block.type == "wide-promotion" -%}
										{%- liquid
											assign display_promotion = false
											if "top" == block.settings.promotion_position
												assign display_promotion = true
											endif

											if block.settings.promotion_collection != blank
												if collection.handle == block.settings.promotion_collection.handle
													assign display_promotion = true
												else
													assign display_promotion = false
												endif
											endif
											
											if block.settings.promotion_hide_filtered and total_active > 0
												assign display_promotion = false
											endif
										-%}
									{%- endif -%}
									{%- if display_promotion -%}
										{%- render 'product-card-promotion-wide', block: block, columns_desktop: columns_desktop -%}
									{%- endif -%}
								{%- endfor -%}
								<ul id="product-grid" data-id="{{ section.id }}" class="products collection row small-up-2 medium-up-{{ columns_desktop }} pagination--{{ pagination_type }}">
									{%- for product in collection.products -%}
										{%- assign product_loop = forloop -%}
										{%- for block in section.blocks -%}
											{%- if block.type == "card-promotion" -%}
												{%- liquid
													assign display_promotion = false
													if product_loop.index == block.settings.promotion_position
														assign display_promotion = true
													endif

													if block.settings.promotion_collection != blank
														if collection.handle == block.settings.promotion_collection.handle and product_loop.index == block.settings.promotion_position
															assign display_promotion = true
														else
															assign display_promotion = false
														endif
													endif
													
													if block.settings.promotion_hide_filtered and total_active > 0
														assign display_promotion = false
													endif
												-%}
												{%- if display_promotion -%}
												<li class="promotion-column columns {{ block.settings.visibility }} product-columns-{{ columns_desktop }}">
													{%- render 'product-card-promotion', block: block -%}
												</li>
												{%- endif -%}
											{%- endif -%}
										{%- endfor -%}
										<li class="columns">
											{%- render 'product-card', product_card_product: product -%}
										</li>
									{%- endfor -%}
									<li class="loading-overlay">
										<div class="loading-overlay--sticky">
											{% render 'svg-icons' with 'thb-loading' %}
										</div>
									</li>
								</ul>
								{%- for block in section.blocks -%}
									{%- assign display_promotion = false -%}
									{%- if block.type == "wide-promotion" -%}
										{%- liquid
											assign display_promotion = false
											if "bottom" == block.settings.promotion_position
												assign display_promotion = true
											endif

											if block.settings.promotion_collection != blank
												if collection.handle == block.settings.promotion_collection.handle
													assign display_promotion = true
												else
													assign display_promotion = false
												endif
											endif
											
											if block.settings.promotion_hide_filtered and total_active > 0
												assign display_promotion = false
											endif
										-%}
									{%- endif -%}
									{%- if display_promotion -%}
										{%- render 'product-card-promotion-wide', block: block, columns_desktop: columns_desktop -%}
									{%- endif -%}
								{%- endfor -%}
								{% render 'pagination', paginate: paginate, pagination_type: pagination_type, id: section.id %}
							{%- endif -%}
							{%- if seo_text_custom_liquid != blank or seo_text != blank -%}
								{%- render 'text-max-height', content: seo_text, custom_liquid: seo_text_custom_liquid, read_more: seo_text_read_more, read_less: seo_text_read_less, max_height: seo_text_max_height -%}
							{%- endif -%}
						</div>
					</div>
				</div>
			</div>
		{%- endpaginate -%}
	</div>
</div>
{%- if enable_filtering or enable_sorting -%}
{%- if enable_filtering and has_price_filter.size > 0  -%}
{{ 'nouislider.js' | asset_url | script_tag }}
{%- endif -%}
<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{% render 'compare-drawer' %}
{% schema %}
  {
    "name": "Product grid",
    "settings": [
			{
        "type": "range",
        "id": "products_per_page",
        "min": 2,
        "max": 48,
        "step": 1,
        "label": "Number of products",
        "default": 12
      },
			{
        "type": "range",
        "id": "columns_desktop",
        "min": 2,
        "max": 5,
        "step": 1,
        "label": "Number of columns on desktop",
        "default": 3
      },
			{
	      "type": "select",
	      "id": "pagination_type",
	      "options": [
	        {
	          "value": "paginated",
	          "label": "Paginated"
	        },
	        {
	          "value": "loadmore",
	          "label": "Click to load"
	        },
	        {
	          "value": "infinite",
	          "label": "Infinite"
	        }
	      ],
	      "default": "paginated",
	      "label": "Pagination",
	      "info": "Choose how additional pages of products are navigated."
	    },
	    {
	      "type": "header",
	      "content": "Filtering and sorting"
	    },
			{
	      "type": "select",
	      "id": "sidebar_size",
	      "options": [
	        {
	          "value": "small",
	          "label": "Small"
	        },
	        {
	          "value": "medium",
	          "label": "Medium"
	        },
	        {
	          "value": "large",
	          "label": "Large"
	        }
	      ],
	      "default": "medium",
	      "label": "Sidebar size",
	      "info": "Changes the width of the sidebar"
	    },
			{
	      "type": "checkbox",
	      "id": "sidebar_open_by_default",
	      "default": true,
	      "label": "Sidebar open by default"
	    },
	    {
	      "type": "checkbox",
	      "id": "enable_filtering",
	      "default": true,
	      "label": "Enable filtering",
	      "info": "Customize [filters](/admin/menus)"
	    },
	    {
	      "type": "checkbox",
	      "id": "enable_sorting",
	      "default": true,
	      "label": "Enable sorting"
	    },
			{
	      "type": "checkbox",
	      "id": "show_counts",
	      "default": true,
	      "label": "Show filter values count"
	    },
			{
	      "type": "header",
	      "content": "SEO"
	    },
			{
				"type": "richtext",
				"id": "seo_text",
				"default": "<p>Collection <strong>seo text</strong></p>",
				"label": "Description"
			},
			{
				"type": "liquid",
				"id": "seo_text_custom_liquid",
				"label": "Custom liquid",
				"info": "Add app snippets or other Liquid code to create advanced customizations. For collection description, you can use {{ collection.description }}"
			},
			{
				"type": "text",
				"id": "seo_text_read_more",
				"default": "Read more",
				"label": "Read more label",
				"info": "Button will be shown when the content exceeds the max height"
			},
			{
				"type": "text",
				"id": "seo_text_read_less",
				"default": "Read less",
				"label": "Read less label",
				"info": "Button will be shown when the content exceeds the max height"
			},
			{
				"type": "range",
				"id": "seo_text_max_height",
				"min": 150,
				"max": 1000,
				"step": 50,
				"label": "Max height",
				"default": 350,
				"info": "Displays a read more button after the text height exceeds a certain height."
			}
    ],
		"blocks": [
      {
        "type": "card-promotion",
        "name": "Card promotion",
        "settings": [
          {
            "type": "collection",
            "id": "promotion_collection",
            "label": "Collection",
						"info": "Show on specific collection only"
          },
					{
						"type": "checkbox",
						"id": "promotion_hide_filtered",
						"default": true,
						"label": "Hide when results are filtered"
					},
					{
		        "type": "range",
		        "id": "promotion_position",
		        "min": 1,
		        "max": 24,
		        "step": 1,
		        "label": "Show in position",
		        "default": 1
		      },
					{
						"type": "select",
						"id": "visibility",
						"options": [
							{
								"value": "hide-on-list",
								"label": "Grid view"
							},
							{
								"value": "hide-on-grid",
								"label": "List view"
							},
							{
								"value": "grid-list",
								"label": "Grid and list view"
							}
						],
						"default": "grid-list",
						"label": "Visibility"
					},
					{
			      "type": "header",
			      "content": "Content"
			    },
					{
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
					{
						"type": "select",
						"id": "aspect_ratio",
						"options": [
							{
								"value": "adapt",
								"label": "Adapt to image"
							},
							{
								"value": "square",
								"label": "Square"
							},
							{
								"value": "portrait",
								"label": "Portrait"
							},
							{
								"value": "landscape",
								"label": "Landscape"
							}
						],
						"default": "square",
						"label": "Image ratio"
					},
					{
						"type": "text",
						"id": "title",
						"default": "Promotion",
						"label": "Heading"
					},
					{
						"type": "textarea",
						"id": "text",
						"default": "Advertise a promotion or a sale",
						"label": "Description"
					},
					{
            "id": "link_label",
            "type": "text",
            "label": "Button label",
            "default": "Explore",
						"info": "Leave the label blank to hide the button."
          },
          {
            "id": "link",
            "type": "url",
            "label": "Link"
          },
					{
			      "type": "header",
			      "content": "Colors"
			    },
					{
						"type": "color",
						"id": "color_text",
						"label": "Text",
						"default": "#4E693D"
					},
					{
						"type": "color",
						"id": "color_bg",
						"label": "Background",
						"default": "#FFF6DF"
					}
				]
			},
			{
        "type": "wide-promotion",
        "name": "Wide promotion",
        "settings": [
          {
            "type": "collection",
            "id": "promotion_collection",
            "label": "Collection",
						"info": "Show on specific collection only"
          },
					{
						"type": "checkbox",
						"id": "promotion_hide_filtered",
						"default": true,
						"label": "Hide when results are filtered"
					},
					{
						"type": "select",
						"id": "promotion_position",
						"options": [
							{
								"value": "top",
								"label": "Top"
							},
							{
								"value": "bottom",
								"label": "Bottom"
							}
						],
						"default": "top",
						"label": "Position"
					},
					{
						"type": "select",
						"id": "layout",
						"options": [
							{
								"value": "image_first",
								"label": "Image first"
							},
							{
								"value": "text_first",
								"label": "Image second"
							}
						],
						"default": "image_first",
						"label": "Desktop image placement",
						"info": "Image first is the default mobile layout."
					},
					{
						"type": "select",
						"id": "visibility",
						"options": [
							{
								"value": "hide-on-list",
								"label": "Grid view"
							},
							{
								"value": "hide-on-grid",
								"label": "List view"
							},
							{
								"value": "grid-list",
								"label": "Grid and list view"
							}
						],
						"default": "grid-list",
						"label": "Visibility"
					},
					{
			      "type": "header",
			      "content": "Content"
			    },
					{
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
					{
						"type": "select",
						"id": "aspect_ratio",
						"options": [
							{
								"value": "adapt",
								"label": "Adapt to image"
							},
							{
								"value": "square",
								"label": "Square"
							},
							{
								"value": "portrait",
								"label": "Portrait"
							},
							{
								"value": "landscape",
								"label": "Landscape"
							}
						],
						"default": "square",
						"label": "Image ratio"
					},
					{
						"type": "text",
						"id": "title",
						"default": "Promotion",
						"label": "Heading"
					},
					{
						"type": "textarea",
						"id": "text",
						"default": "Advertise a promotion or a sale",
						"label": "Description"
					},
					{
            "id": "link_label",
            "type": "text",
            "label": "Button label",
            "default": "Explore",
						"info": "Leave the label blank to hide the button."
          },
          {
            "id": "link",
            "type": "url",
            "label": "Link"
          },
					{
			      "type": "header",
			      "content": "Colors"
			    },
					{
						"type": "color",
						"id": "color_text",
						"label": "Text",
						"default": "#4E693D"
					},
					{
						"type": "color",
						"id": "color_bg",
						"label": "Background",
						"default": "#FFF6DF"
					}
				]
			}
		]
  }
{% endschema %}
