{%- liquid
	assign free_shipping = settings.free_shipping
	assign free_shipping_minimum = settings.free_shipping_minimum | times: 100
	assign total = cart.total_price
	assign collapsible_panels = section.blocks | where: "type", "collapsible_tab"
	assign shipping_estimator = section.blocks | where: "type", "shipping_estimator"
	assign product_recommendations = section.blocks | where: "type", "product_recommendations"
	assign items_requiring_shipping = cart.items | where: 'requires_shipping'
	assign product_id = cart.items[0].product_id
-%}
{{ 'cart.css' | asset_url | stylesheet_tag }}
<div class="row">
	<div class="small-12 columns">
		<theme-cart id="Cart" class="thb-cart-form--container">
			<h2>{{ 'sections.cart.title' | t }}<span class="thb-cart-form--count">{% if cart.item_count > 0 %}({{ cart.item_count }}){%- endif -%}</span></h2>
			{%- if cart != empty -%}
			<div class="thb-cart-form thb-cart-form--cart-notes-{{ section.settings.cart_notes_enable }}">
				<div>
					<div class="thb-cart-form--form" data-id="{{ section.id }}">
						<form action="{{ routes.cart_url }}" id="cart-form" method="post" novalidate>
							<table class="thb-cart-form--items no-borders">
								<tbody>
								{%- for item in cart.items -%}
									<tr id="CartItem-{{ item.index | plus: 1 }}" data-product-id="{{ item.key | escape }}">
										<td class="product-name">
											<div class="product-cart-item">
												<div class="product-cart-item-image">
													{% if item.image %}
														{%- render 'responsive-image', image: item.image, sizes: '160x160' -%}
													{% else %}
														<div class="thb-placeholder" style="width: 100px;">
															{{ 'product-1' | placeholder_svg_tag }}
														</div>
													{% endif %}
												</div>
												<div>
													<a href="{{ item.url }}" title="{{ item.product.title | escape }}" class="cart-product-link">{{ item.product.title }}</a>
													{% render 'product-price', product: item.product %}
													{% if item.selling_plan_allocation %}
													<div class="properties">
														<span class="selling-plan">{{ item.selling_plan_allocation.selling_plan.name }}</span>
													</div>
													{% endif %}
													{% unless item.variant.title contains 'Default' %}
														<div class="product-cart-item-options">
															{% for option in item.product.options %}
																{{ item.variant.options[forloop.index0] }}{% if forloop.last != true %} | {% endif %}
															{% endfor %}
														</div>
													{% endunless %}
													{%- for property in item.properties -%}
														{%- assign property_first_char = property.first | slice: 0 -%}
														{%- if property.last != blank and property_first_char != '_' -%}
															<div class="product-cart-item-options">
																<span>{{ property.first }}:</span>
																	{%- if property.last contains '/uploads/' -%}
																		<a href="{{ property.last }}" class="link" target="_blank">
																			{{ property.last | split: '/' | last }}
																		</a>
																	{%- else -%}
																		{{ property.last }}
																	{%- endif -%}
																	<br/>
															</div>
														{%- endif -%}
													{%- endfor -%}
													{%- if item.discounts != blank -%}
													<ul class="discounts" role="list">
														{%- for discount in item.discounts -%}
															<li class="discounts__discount">
																{%- render 'svg-icons' with 'discount' -%}
																{{ discount.title }} (-{{ discount.amount | money }})
															</li>
														{%- endfor -%}
													</ul>
													{%- endif -%}
													<quantity-selector class="quantity cart-update cart-update-mobile small-qty" data-id="{{ item.key | escape }}">
														<button class="minus" type="button" aria-label="{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}">{% render 'svg-icons' with 'minus' %}</button>
														<input
															type="number"
															name="updates[]"
															id="updates_{{ item.key }}"
															value="{{ item.quantity }}"
															min="{{ item.variant.quantity_rule.min }}"
															{% if item.variant.quantity_rule.max != null %}
																max="{{ item.variant.quantity_rule.max }}"
															{% endif %}
															step="{{ item.variant.quantity_rule.increment }}"
															class="qty"
															data-index="{{ item.index | plus: 1 }}"
															aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
														>
														<button class="plus" type="button" aria-label="{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}">{% render 'svg-icons' with 'plus' %}</button>
													</quantity-selector>
													<a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="remove cart-remove-mobile" data-index="{{ item.index | plus: 1 }}">{% render 'svg-icons' with 'trash' %}</a>
													<div class="cart-item__error form-notification error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert" hidden>
															{% render 'svg-icons' with 'thb-error' %}
															<small class="cart-item__error-text"></small>
													</div>
												</div>
											</div>
										</td>
										<td class="product-quantity">
											<quantity-selector class="quantity cart-update small-qty"" data-id="{{ item.key | escape }}">
												<button class="minus" type="button">{% render 'svg-icons' with 'minus' %}</button>
												<input
													type="number"
													name="updates[]"
													id="updates_{{ item.key }}"
													value="{{ item.quantity }}"
													min="{{ item.variant.quantity_rule.min }}"
													{% if item.variant.quantity_rule.max != null %}
														max="{{ item.variant.quantity_rule.max }}"
													{% endif %}
													step="{{ item.variant.quantity_rule.increment }}"
													class="qty"
													data-index="{{ item.index | plus: 1 }}"
													aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
												>
												<button class="plus" type="button">{% render 'svg-icons' with 'plus' %}</button>
											</quantity-selector>
											<a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="remove cart-remove-desktop" data-index="{{ item.index | plus: 1 }}">{% render 'svg-icons' with 'trash' %}</a>
										</td>
										<td class="product-subtotal" data-subtotal="{{ item.line_price | escape }}">
												<span class="price">
												{%- if item.original_line_price != item.final_line_price -%}
												<del><span class="amount">{{ item.original_line_price | money }}</span></del>
												<ins><span class="amount">{{ item.final_line_price | money }}</span></ins>
												{%- else -%}
												<ins><span class="amount">{{ item.original_line_price | money }}</span></ins>
												{%- endif -%}
												{%- if item.variant.available and item.unit_price_measurement -%}
													<small class="unit-price">
														{{ item.variant.unit_price | money }}
														<span class="unit-price-separator">/</span>
														{%- if item.variant.unit_price_measurement.reference_value != 1 -%}
														{{- item.variant.unit_price_measurement.reference_value -}}
														{%- endif -%}
														{{ item.variant.unit_price_measurement.reference_unit }}
													</small>
												{%- endif -%}
												</span>
											<div class="loading-overlay">
												{% render 'svg-icons' with 'thb-loading' %}
											</div>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</form>
					</div>
					{%- if items_requiring_shipping.size > 0 and shipping_estimator.size > 0 -%}
						<collapsible-row class="accordion accordion--has-border shipping-estimator--container" {{ shipping_estimator[0].shopify_attributes }}>
							<details id="Details-{{ shipping_estimator[0].id }}-{{ section.id }}" {% if shipping_estimator[0].settings.open %}open{% endif %}>
								<summary>
									{{- 'sections.cart.shipping_estimator.estimate_shipping' | t -}}
									<span>{%- render 'svg-icons' with 'thb-accordion-arrow' -%}</span>
								</summary>
								<div class="collapsible__content accordion__content" id="Accordion-{{ shipping_estimator[0].id }}-{{ section.id }}">
									{%- render 'shipping-estimator', section: section, shipping_estimator: shipping_estimator[0] -%}
								</div>
							</details>
						</collapsible-row>
					{%- endif -%}
					{%- if product_recommendations.size > 0 -%}
						<collapsible-row class="accordion accordion--has-border cart-recommendations--parent" {{ product_recommendations[0].shopify_attributes }}>
							<details id="Details-{{ product_recommendations[0].id }}-{{ section.id }}" {% if product_recommendations[0].settings.open %}open{% endif %}>
								<summary>
									{{ product_recommendations[0].settings.heading }}
									<span>{%- render 'svg-icons' with 'thb-accordion-arrow' -%}</span>
								</summary>
								<product-recommendations class="cart-recommendations collapsible__content accordion__content" id="Accordion-{{ product_recommendations[0].id }}-{{ section.id }}" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product_id }}&limit=6">
									{% if recommendations.performed and recommendations.products_count > 0 %}
										{% for recommendation in recommendations.products %}
												{% render 'product-card-small', product_small: recommendation %}
										{% endfor %}
									{%- endif -%}
								</product-recommendations>
							</details>
						</collapsible-row>
						<script src="{{ 'product-recommendations.js' | asset_url }}" defer="defer"></script>
					{%- endif -%}
				</div>
				<div>
					<div class="thb-cart-form--collaterals">
						{%- liquid
							if free_shipping and settings.free_shipping_minimum != blank
								render 'free-shipping', free_shipping_minimum: free_shipping_minimum, total: total
							endif
						-%}
						<div class="thb-cart-form--collaterals-inner">
							{% if section.settings.cart_notes_enable %}
							<div class="thb-cart-form--notes">
								<label for="CartSpecialInstructions" class="thb-cart-form--notes-title">{{ 'sections.cart.add_notes' | t }}</label>
								<textarea name="note" id="CartSpecialInstructions" class="full" rows="3">{{ cart.note }}</textarea>
							</div>
							{% endif %}
							<table cellspacing="0" class="thb-cart-form--collaterals-table">
								<tbody>
									{%- if cart.cart_level_discount_applications.size > 0 -%}
										{%- for discount in cart.cart_level_discount_applications -%}
											<tr class="cart-discount">
												<th>{{ discount.title }}</th>
												<td>
													<span class="price">
														<span class="amount">
														{% if settings.currency_code_enabled %}
														-{{ discount.total_allocated_amount | money_with_currency }}
														{% else %}
														-{{ discount.total_allocated_amount | money }}
														{% endif %}
														</span>
													</span>
												</td>
											</tr>
										{%- endfor -%}
									{%- endif -%}
									<tr class="cart-subtotal">
										<th>{{ 'sections.cart.subtotal' | t }}</th>
										<td><span class="price"><span class="amount">
											{% if settings.currency_code_enabled %}
											{{ cart.total_price | money_with_currency }}
											{% else %}
											{{ cart.total_price | money }}
											{% endif %}
										</span></span></td>
									</tr>
								</tbody>
							</table>
							{% render 'cart-terms' %}
							<div class="thb-cart-form--proceed" data-additional-checkout="{{ additional_checkout_buttons }}">
								<button type="submit" name="checkout" class="checkout-button button full" form="cart-form">{{ 'sections.cart.checkout' | t }}</button>
								{%- if additional_checkout_buttons -%}
								<div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
									{{ content_for_additional_checkout_buttons }}
								</div>
								{%- endif -%}
								<p class="thb-cart-form--policy-text">
									{%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
									{{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
									{%- elsif cart.taxes_included -%}
									{{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
									{%- elsif shop.shipping_policy.body != blank -%}
									{{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
									{%- else -%}
									{{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
									{%- endif -%}
								</p>
							</div>
						</div>
						{%- for block in collapsible_panels -%}
							{%- if block.settings.heading != blank -%}
								<collapsible-row class="accordion accordion--small" {{ block.shopify_attributes }}>
									<details id="Details-{{ block.id }}-{{ section.id }}" {% if block.settings.open %}open{% endif %}>
										<summary>
											{{ block.settings.heading | default: block.settings.page.title }}
											<span>{%- render 'svg-icons' with 'thb-dropdown-bottom' -%}</span>
										</summary>
										<div class="collapsible__content accordion__content rte" id="Accordion-{{ block.id }}-{{ section.id }}">
											{{ block.settings.content }}
											{{ block.settings.page.content }}
										</div>
									</details>
								</collapsible-row>
							{%- endif -%}
						{%- endfor -%}
					</div>
				</div>
			</div>
			{%- else -%}
				<div class="thb-cart-form thb-cart-form--empty">
				{%- render 'cart-empty' -%}
				</div>
			{%- endif -%}
		</theme-cart>
	</div>
</div>
{{ 'cart.js' | asset_url | script_tag }}
{% schema %}
{
  "name": "Cart",
  "class": "cart-section",
	"blocks": [
		{
			"type": "shipping_estimator",
			"name": "Shipping estimator",
			"limit": 1,
			"settings": [
					{
					"type": "text",
					"id": "default_country",
					"info": "If the customer is logged in, the country of their shipping address will be used.",
					"label": "Default country"
				}
			]
		},
		{
			"type": "product_recommendations",
			"name": "Product recommendations",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "Customize product recommendations with Search and Discovery app. [Learn more](https://help.shopify.com/en/manual/online-store/search-and-discovery/product-recommendations)."
				},
				{
					"type": "text",
					"id": "heading",
					"default": "Product recommendations",
					"info": "Include a heading that explains the content.",
					"label": "Heading"
				},
				{
					"type": "checkbox",
					"id": "open",
					"default": true,
					"label": "Open by default"
				}
			]
		},
		{
			"type": "collapsible_tab",
			"name": "Collapsible row",
			"settings": [
					{
					"type": "text",
					"id": "heading",
					"default": "Collapsible row",
					"info": "Include a heading that explains the content.",
					"label": "Heading"
				},
				{
					"type": "checkbox",
					"id": "open",
					"default": false,
					"label": "Open by default"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Row content"
				},
				{
					"type": "page",
					"id": "page",
					"label": "Row content from page"
				}
			]
		}
	],
  "settings": [
		{
			"type": "checkbox",
			"id": "cart_notes_enable",
			"label": "Enable order notes",
			"default": true
		}
  ]
}
{% endschema %}
