{{- 'facets.css' | asset_url | stylesheet_tag -}}
{{- 'product-grid.css' | asset_url | stylesheet_tag -}}
{%- liquid
	
	assign has_price_filter = search.filters | where: "type", "price_range"
	assign has_blog_post = search.results | where: "object_type", "article"
	assign has_page = search.results | where: "object_type", "page"

	assign sidebar_size = section.settings.sidebar_size
	assign sidebar_open_by_default = section.settings.sidebar_open_by_default
	assign enable_filtering = section.settings.enable_filtering
	assign enable_sorting = section.settings.enable_sorting
	assign show_counts = section.settings.show_counts
	assign pagination_type = section.settings.pagination_type
	assign products_per_page = section.settings.products_per_page
	assign columns_desktop = section.settings.columns_desktop

	assign show_date = section.settings.show_date
	assign show_excerpt = section.settings.show_excerpt
	assign image_ratio = section.settings.image_ratio
-%}
{%- if has_blog_post.size > 0 or has_page.size > 0 -%}
{{ 'blog.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{%- if search.performed -%}
	{%- render 'facets-mobile', results: search, enable_filtering: enable_filtering, enable_sorting: enable_sorting, show_counts: show_counts -%}
	<div class="row">
		<div class="small-12 columns">
			<div class="collection-container section-spacing-bottom">
				<div id="ProductGridContainer" data-layout="grid">
					{%- render 'facets-bar', results: search, enable_filtering: enable_filtering, enable_sorting: enable_sorting, sidebar_open_by_default: sidebar_open_by_default -%}
					{%- if search.results.size == 0 -%}
						<div class="collection-empty">
							{% render 'svg-icons' with 'thb-no-products' %}
		          <p>
		            {{ 'search.no_results' | t: terms: search.terms }}
		          </p>
						</div>
					{%- else -%}
						{%- paginate search.results by products_per_page -%}
							<div class="sidebar-container{% if enable_filtering %} facets--sidebar{% else %} facets--sidebar-false{% endif %} facets--sidebar-{{ sidebar_size }}{% if sidebar_open_by_default %} facets--sidebar-open{% endif %} results--{{ collection.products.size }} sticky-scroller--parent" id="Sidebar-Container">
								{%- if enable_filtering -%}
									{%- render 'facets-desktop', results: search, enable_filtering: enable_filtering, enable_sorting: enable_sorting, show_counts: show_counts -%}
								{%- endif -%}
								<div class="sidebar-container--products sticky-scroller--compare">
									<ul id="product-grid" data-id="{{ section.id }}" class="products collection row small-up-2 medium-up-{{ columns_desktop }} pagination--{{ pagination_type }}">
										{%- for item in search.results -%}
											<li class="columns">
												{%- case item.object_type -%}
													{%- when 'product' -%}
														{% render 'product-card', product_card_product: item %}
													{%- when 'article' -%}
														{% render 'blog-post', article: item, show_date: show_date, show_excerpt: show_excerpt, image_ratio: image_ratio %}
													{%- when 'page' -%}
														{% render 'blog-post', article: item, show_date: false, show_excerpt: true, show_image: false %}
												{%- endcase -%}
											</li>
										{%- endfor -%}

										<li class="loading-overlay">
											<div class="loading-overlay--sticky">
												{% render 'svg-icons' with 'thb-loading' %}
											</div>
										</li>
									</ul>
									{% render 'pagination', paginate: paginate, pagination_type: pagination_type, id: section.id %}
								</div>
							</div>
						{%- endpaginate -%}
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
	{%- if enable_filtering or enable_sorting -%}
		{%- if enable_filtering and has_price_filter.size > 0 -%}
		{{ 'nouislider.js' | asset_url | script_tag }}
		{%- endif -%}
		<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
	{%- endif -%}
{%- endif -%}
{% render 'compare-drawer' %}
{% schema %}
  {
    "name": "Product grid",
    "settings": [
			{
        "type": "range",
        "id": "products_per_page",
        "min": 2,
        "max": 24,
        "step": 1,
        "label": "Number of products",
        "default": 12
      },
			{
        "type": "range",
        "id": "columns_desktop",
        "min": 2,
        "max": 5,
        "step": 1,
        "label": "Number of columns on desktop",
        "default": 4
      },
			{
	      "type": "select",
	      "id": "pagination_type",
	      "options": [
	        {
	          "value": "paginated",
	          "label": "Paginated"
	        },
	        {
	          "value": "loadmore",
	          "label": "Click to load"
	        },
	        {
	          "value": "infinite",
	          "label": "Infinite"
	        }
	      ],
	      "default": "paginated",
	      "label": "Pagination",
	      "info": "Choose how additional pages of products are navigated."
	    },
	    {
	      "type": "header",
	      "content": "Filtering and sorting"
	    },
			{
	      "type": "select",
	      "id": "sidebar_size",
	      "options": [
	        {
	          "value": "small",
	          "label": "Small"
	        },
	        {
	          "value": "medium",
	          "label": "Medium"
	        },
	        {
	          "value": "large",
	          "label": "Large"
	        }
	      ],
	      "default": "medium",
	      "label": "Sidebar size",
	      "info": "Changes the width of the sidebar"
	    },
			{
	      "type": "checkbox",
	      "id": "sidebar_open_by_default",
	      "default": true,
	      "label": "Sidebar open by default"
	    },
	    {
	      "type": "checkbox",
	      "id": "enable_filtering",
	      "default": true,
	      "label": "Enable filtering",
	      "info": "Customize [filters](/admin/menus)"
	    },
	    {
	      "type": "checkbox",
	      "id": "enable_sorting",
	      "default": true,
	      "label": "Enable sorting"
	    },
			{
	      "type": "checkbox",
	      "id": "show_counts",
	      "default": true,
	      "label": "Show filter values count"
	    },
			{
	      "type": "header",
	      "content": "Blog card"
	    },
			{
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "Adapt to image"
          },
          {
            "value": "portrait",
            "label": "Portrait"
          },
          {
            "value": "square",
            "label": "Square"
          },
					{
            "value": "landscape",
            "label": "Landscape"
          }
        ],
        "default": "square",
        "label": "Image ratio"
      },
			{
				"type": "checkbox",
				"id": "show_date",
				"default": true,
				"label": "Show date"
			},
			{
				"type": "checkbox",
				"id": "show_excerpt",
				"default": false,
				"label": "Show excerpt"
			}
    ]
  }
{% endschema %}
