{%- liquid
	assign show_page_title = section.settings.show_page_title
	assign show_page_content = section.settings.show_page_content
	assign description = section.settings.description
	assign page_width = section.settings.page_width
	assign page_alignment = section.settings.page_alignment
-%}
<div class="section-spacing section-spacing--disable-top">
	{%- if show_page_title -%}
	<div class="collection-banner">
		<div class="row">
			<div class="small-12 columns">
				<div class="collection-banner--content">
					<div class="collection-banner--content-inner">
						<h1 class="collection-banner--title h2"><span>{{ page.title }}</span></h1>
						{%- if description != blank -%}
						<div class="collection-banner--description rte">
							{{ description }}
						</div>
						{%- endif -%}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{- 'collection-banner.css' | asset_url | stylesheet_tag -}}
	{%- endif -%}
	{%- if show_page_content-%}
	<div class="row">
		<div class="small-12 columns">
			<div class="page-content-width--{{ page_width }} page-content-align--{{ page_alignment }} rte">
				{{ page.content }}
			</div>
		</div>
	</div>
	{%- endif -%}
</div>
{{ 'page.css' | asset_url | stylesheet_tag }}
{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "section-page",
	"settings": [
		{
			"type": "checkbox",
			"id": "show_page_title",
			"default": true,
			"label": "Show page title"
		},
		{
			"type": "richtext",
			"id": "description",
			"label": "Page excerpt",
			"info": "Use a metafield to display different excerpts on each page. [Learn More](https://help.shopify.com/en/manual/custom-data/metafields)"
		},
		{
			"type": "header",
			"content": "Content"
		},
		{
			"type": "checkbox",
			"id": "show_page_content",
			"default": true,
			"label": "Show page content"
		},
		{
			"type": "select",
			"id": "page_width",
			"options": [
				{
					"value": "small",
					"label": "Small"
				},
				{
					"value": "medium",
					"label": "Medium"
				},
				{
					"value": "large",
					"label": "Large"
				},
				{
					"value": "full",
					"label": "Full"
				}
			],
			"default": "full",
			"label": "Content width"
		},
		{
			"type": "select",
			"id": "page_alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "left",
			"label": "Content alignment",
			"info": "Works when content width is smaller than “full”"
		}
	],
    "presets": [
      {
        "name": "Page"
      }
    ]
}
{% endschema %}
