{%- if predictive_search.performed -%}
	{%- liquid
		assign predictive_search_products = predictive_search.resources.products
		assign predictive_search_articles = predictive_search.resources.articles
		assign predictive_search_queries = predictive_search.resources.queries
		assign predictive_search_collections = predictive_search.resources.collections
		-%}
		<div class="thb-predictive-search--container">
			{%- if predictive_search_queries.size > 0 -%}
				<div class="thb-predictive-search--label z-1">{{ 'sections.header.suggestions' | t }}</div>
				<div class="thb-predictive-search--content thb-predictive-search--content-small">
					{%- for query in predictive_search_queries -%}
					<a href="{{ query.url }}" class="predictive-search__item link link--text" tabindex="-1">{{ query.styled_text }}</a>
					{%- endfor -%}
				</div>
			{%- endif -%}
			{%- if predictive_search_products.size != 0 -%}
				<div class="thb-predictive-search--label z-2">{{ 'sections.header.products' | t }}</div>
				<div class="thb-predictive-search--content">
					{%- for predictive_product in predictive_search_products -%}
						{% render 'product-card-small', product_small: predictive_product, predictive_search: predictive_search, quick_add: false %}
					{%- endfor -%}
				</div>
			{%- endif -%}
			{%- if predictive_search_articles.size != 0 -%}
				<div class="thb-predictive-search--label z-3">{{ 'sections.header.articles' | t }}</div>
				<div class="thb-predictive-search--content">
					{%- for predictive_article in predictive_search_articles -%}
							<div class="product-cart-item">
								<div class="product-cart-item-image">
									{% if predictive_article.image %}
										{%- render 'responsive-image', image: predictive_article.image, sizes: '128x128' -%}
									{% else %}
										<div class="thb-placeholder">
											{{ 'image' | placeholder_svg_tag }}
										</div>
									{% endif %}
								</div>
								<div>
									<a href="{{ predictive_article.url }}" title="{{ predictive_article.title | escape }}" class="cart-product-link">{{ predictive_article.title | highlight: predictive_search.terms }}</a>
									<span class="thb-predictive-search--meta">{{ predictive_article.published_at | time_tag: '%b %d, %Y' }}</span>
								</div>
							</div>
						{%- endfor -%}
				</div>
			{%- endif -%}
			{%- if predictive_search_collections.size != 0 -%}
				<div class="thb-predictive-search--label z-4">{{ 'sections.header.collections' | t }}</div>
				<div class="thb-predictive-search--content">
					{%- for pcollection in predictive_search_collections -%}
						<a href="{{ pcollection.url }}" class="thb-predictive-search--collection">
							{%- if pcollection.featured_image -%}
								{%- render 'responsive-image', image: pcollection.featured_image | image_url, sizes: '128x128' -%}
							{%- endif -%}
							<div>
								{{ pcollection.title }}
								<span class="thb-predictive-search--meta">{{ 'products.facets.product_count_simple' | t: count: pcollection.products_count }}</span>
							</div>
						</a>
					{%- endfor -%}
				</div>
			{%- endif -%}
		</div>
		<div class="thb-predictive-search--footer">
			<button class="text-button" id="search-results-submit"><span>{{ 'sections.header.view_all_results' | t }}</span></button>
		</div>
		<span class="loading-overlay">
			{%- render 'svg-icons' with 'thb-loading' -%}
		</span>
{%- endif -%}
